body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(46,65,78, 1);
    color: rgba(255, 255, 255,1);
    text-align: center;
    
    
}

p {
    font-size: 11pt;
}

button {
    font-family: 'Amaranth', sans-serif;
    font-size: 10pt;
    position: fixed;
    padding: 10px;
    background-color: rgba(46,65,78, 1);
    color: rgba(255, 255, 255,1);
    bottom: 2%;
    right: 2%;
    border: solid 1px rgba(255, 255, 255,1);
    border-radius: 5px;
    line-height: 1.4rem;
    z-index: 3;
    transition: all 0.5s;
    opacity: 0.9;
}

button:focus {outline:0;}

button:hover {
    color: rgba(255, 255, 255,1);
    background-color: rgb(23, 24, 26);
    padding: 10px;
    border: none;
}

canvas {
    display: block;
    margin: auto;
    padding: 10px;
}

h1 {
    font-family: 'Amaranth', sans-serif;
    font-size: 32pt;
    text-align: center;
    color: rgba(255, 255, 255,1);

}